<div class="content">
	<div class="wrap">
		<div class="single-page">
			
			<div class="page-header">
				<h1>
					Ajout d'un utilisateur
				</h1>
			</div>	
<!-- 			MARCHE PAS !!!! -->
   			<form id="user-form" class="form-horizontal" data-ng-controller="AdminEditUserCtrl"  ng-submit="submit()">
		   		<input data-ng-model="idUser" type="hidden" data-ng-model="idUser"/>
		   		<input data-ng-model="creationDate" type="hidden" data-ng-model="creationDate"/>
					<div id="emailDiv" class="form-group">
						<label for="labelEmail" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input data-ng-model="email" type="email" class="form-control" id="email" placeholder="Email"/>
						</div>
					</div>
					<div id="nomDiv" class="form-group">
						<label for="labelNom" class="col-sm-2 control-label">Nom</label>
						<div class="col-sm-10">
							<input data-ng-model="lastname" type="text" class="form-control" id="nom" placeholder="Nom"/>
						</div>
					</div>
					<div id="prenomDiv" class="form-group">
						<label for="labelPrenom" class="col-sm-2 control-label">Prénom</label>
						<div class="col-sm-10">
							<input data-ng-model="firstname" type="text" class="form-control" id="prenom" placeholder="Prénom"/>
						</div>
					</div>
					<div id="telephoneDiv" class="form-group">
						<label for="labelTelephone" class="col-sm-2 control-label">Téléphone</label>
						<div class="col-sm-10">
							<input data-ng-model="telephone" type="number" class="form-control" id="telephone" placeholder="Téléphone"/>
						</div>
					</div>
					<div id="roleDiv" class="form-group">
						<label for="labelRole" class="col-sm-2 control-label">Role</label>
						<div class="col-sm-10">
							<select  ng-model="role" ng-options="role.label for role in listRole" class="form-control">
    						</select>
						</div>
					</div>		
					<div id="passwordDiv" class="form-group">
						<label for="labelPass" class="col-sm-2 control-label">Mot de passe</label>
						<div class="col-sm-10">
							<input data-ng-model="password" type="password" class="form-control" id="password" placeholder="Mot de passe" />
						</div>
					</div>
					<div id="confirmationDiv" class="form-group">
						<label for="labelConfirm" class="col-sm-2 control-label">Confirmation</label>
						<div class="col-sm-10">
							<input data-ng-model="confirmation" type="password" class="form-control" id="confirmation" placeholder="Confirmation"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<input type="submit" class="btn btn-primary">
						</div>
					</div>
			</form>
			<nav>
			  <ul class="pager">
			    <li><a href="#/admin/user/list">Précédent</a></li>
			  </ul>
			</nav>
		</div>
	</div>
</div>
